body {
margin: 0;
padding: 0;
display: flex;
min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: whitesmoke;
    width: 100vw;
    padding-right: .2em;
}

.logo-bg {
    flex: 1;
    background-image: url("images/green-bg-Hashmi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 0 5px 0 rgba(0,0,0,0.24);
    position: fixed;
}

.content {
    display: flex;
    flex: 2;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0;
    padding: 0;
    width: 100vw;
}

.logo-front {
    z-index: 2;
    width: 21vw;
    height: 21vh;
    border-radius: 50%;
}

h1 {
    font-family: "Montserrat";
    font-size: 2rem;
    letter-spacing: .3em;
    color: cornflowerblue;
}

h1 span {
    font-size: 4rem;
    color: seagreen;
    filter:brightness(1.25);
}

p {
    font-family: "Special Elite", system-ui;
    letter-spacing: 1.1em;
    margin-top: 0;
    padding-top: 0;
}

.contact-btn {
    background-color: green;
    font-family: "Montserrat";
    font-weight: 600;
    color: whitesmoke;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    padding: 1em 3.5em;
    margin: 4px 2px;
    border-radius: 2rem;
    border: none;
}

.socials {
    margin-top: 2rem;
    display: flex;
    gap: 1em;
    width: 24px;
    background-color: aqua;
    color: black;

}